.idea/
cmake-build-*/
*.iml

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
CTestTestfile.cmake
build/

# Executables and Libraries
*.exe
*.dll
*.so
*.dylib
*.o
*.a
*.lib

# Other temporary files
*~
*.bak
*.swp
*.swo
*.tmp